@charset "utf-8";
/* CSS Document */

body {
  font-family: Arial, Verdana,  sans-serif; /* Семейство шрифтов */
  font-size: 11pt; /* Размер основного шрифта в пунктах  */
  background-color: #F5FCBA; /* Цвет фона веб-страницы */
  color: #333; /* Цвет основного текста */ 
  background: #eeeeee url("image/siteBackground.png") 0 0 repeat;
  background-size: 100% 100%;
}
h1{
  color: #a52a2a; /* Цвет заголовка */
  font-size: 24pt; /* Размер шрифта в пунктах */
  font-family: Georgia, Times, serif; /* Семейство шрифтов */
  font-weight: normal; /* Нормальное начертание текста  */
}

#cursor{
	cursor: pointer;
}
#cursor:hover{
	background: #fcfed5;
}

	.shadow {
	box-shadow: 0 0 0 1px #fff, 0 0 0 2px #888;
}

.createField {
    width: 100%; /* Ширина поля с кнопкой */
    border: none; /* Параметры рамки */
    min-height: 25px; /* Минимальная высота */
   }
 

#forInput{
	height: 30px;
	 border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 79%; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
	background: #fff; /* Цвет фона */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
	padding: 10px; /* Поля вокруг текста */
} 

#forButton{
	color: #fff;
    height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 20%; /* Ширина кнопки */
   background: #82b99b; /* Цвет фона */
    box-shadow:  inset 0 0 5px rgba(0, 0, 0, .5); /* Параметры тени */
	border-radius: 0px 7px 7px 0px; 
    }
	
#taskInput{
	
	height: 30px;
	 border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 63%; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
	background: #fff; /* Цвет фона */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
	padding: 10px; /* Поля вокруг текста */
}	
	
	
#calendarInput{
	height: 30px;
	border: none; /* Убираем рамку */
    outline: none; /* Убираем свечение в Chrome и Safari */
    -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
    width: 15%; /* Ширина поля */
    vertical-align: middle; /* Выравнивание по середине */
	height: 30px;
	background: #fff; /* Цвет фона */
    box-shadow: inset 0 0 5px rgba(0,0,0,0.5); /* Параметры тени */
	padding: 10px; /* Поля вокруг текста */
} 
	
	
#blueBackground {
	color: #fff;
    width: 50%;
    background: #eeeeee url("image/backgroundHead.png") 0 0 repeat;
	padding: 10px; /* Поля вокруг текста */
	background-size: auto 100%;
	box-shadow:  0 0 10px rgba(0,0,0,0.5), inset 0 0 0 1px #4234FE;
}
  #whiteText{
	  color: #fff;
	  font-size: 12pt;
  }
  
#greyBackground{
	 width: 50%;
	 height: 33px;
    background: #eeeeee url("image/greyBackground.png") 0 0 repeat;
	padding: 10px; /* Поля вокруг текста */
	background-size: auto 100%;
	box-shadow:  0 0 10px rgba(0,0,0,0.5), inset 0 0 0 1px #4234FE;
}

#radius {
	width: 50%;
	background: #007E3E; /* Цвет фона */
    color: #fff; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
    border-radius: 10px; /* Уголки */
}
#projectBack{
	width: 50%;
	height: 25px;
	background: #fff; /* Цвет фона */
    color: #333; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
	cursor: pointer;
	background-position:  middle;
	
	border-bottom: 3px solid #BFFDF7; /* Параметры линии  */
     
	background-position: bottom;
  }
#projectBack:hover{
	background: #fcfed5;
}


  

 #projectBack:hover #buttonSelect{
	 background:   url("image/select_hidden.png");/* Путь к фоновому рисунку */
    background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: auto; /* Масштабируем фон */
    display: block; /*отобразить элемент*/
 }

#projectBack:hover #buttonDelete{
	background:   url("image/delete_hidden.png");/* Путь к фоновому рисунку */
    background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: auto; /* Масштабируем фон */
    display: block; /*отобразить элемент*/
}


#projectBack:hover #buttonRename{
	background:   url("image/rename_hidden.png");/* Путь к фоновому рисунку */
    background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: auto; /* Масштабируем фон */
    display: block; /*отобразить элемент*/
}
  #endOfTheTable{
	width: 50%;
	background: #fff; /* Цвет фона */
    color: #333; /* Цвет текста */
    padding: 10px; /* Поля вокруг текста */
	border-radius: 0px 0px 10px 10px;
	
  }
  
  
#buttonSetDone{
	height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	outline: none; /* Убираем рамку при нажатии */
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 100%; /* Ширина кнопки */
   background: inherit; /* Цвет фона */
   background-size: 100% 100%;
    /* box-shadow:  inset 0 0 5px rgba(0, 0, 0, .5);  Параметры тени */
	border-radius: 4px 4px 4px 4px; 
	visibility:inherit;
	cursor: pointer;
}
#buttonSetDone:hover{
 background:   url("image/stateOk.png");
  visibility:visible;
  background-size: 100% 100%;

}

#buttonDone{
	 height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 100%; /* Ширина кнопки */
    background:  url("image/stateDone.png");
	background-size: 100% 100%;
	border-radius: 4px 4px 4px 4px; 
	
}
#buttonRename{
	height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	outline: none;
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 100%; /* Ширина кнопки */
   background: inherit; /* Цвет фона */
   background-size: 100% 100%;
    /* box-shadow:  inset 0 0 5px rgba(0, 0, 0, .5);  Параметры тени */
	border-radius: 4px 4px 4px 4px; 
	visibility:inherit;
	cursor: pointer;
}
#buttonRename:hover{
 background:   url("image/rename.png");
  visibility:visible;
  background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: contain; /* Масштабируем фон */

}


  #buttonRenameTake:hover{
	  background:   url("image/rename.png");/* Путь к фоновому рисунку */
    background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: auto; /* Масштабируем фон */
    display: block; /*отобразить элемент*/
  }


#buttonDelete{
	height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	outline: none;
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 100%; /* Ширина кнопки */
   background: inherit; /* Цвет фона */
   background-size: 100% 100%;
    /* box-shadow:  inset 0 0 5px rgba(0, 0, 0, .5);  Параметры тени */
	border-radius: 4px 4px 4px 4px; 
	visibility:inherit;
	cursor: pointer;
}
#buttonDelete:hover{
 background:   url("image/delete.png");
   background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: contain; /* Масштабируем фон */
}

#buttonSelect{
	height: 30px; /* Высота кнопки */
    border: none; /* Убираем рамку */
	outline: none;
	-webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
	width: 100%; /* Ширина кнопки */
   background: inherit; /* Цвет фона */
   background-size: 100% 100%;
    /* box-shadow:  inset 0 0 5px rgba(0, 0, 0, .5);  Параметры тени */
	border-radius: 4px 4px 4px 4px; 
	visibility:inherit;
	cursor: pointer;
}
#buttonSelect:hover{
 background:   url("image/select.png");
  visibility:visible;
  background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: contain; /* Масштабируем фон */

}
#buttonDeleteTake:hover{
	background:   url("image/delete.png");/* Путь к фоновому рисунку */
    background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: auto; /* Масштабируем фон */
    display: block; /*отобразить элемент*/
  }

 #buttonSelectTake:hover{
	background:   url("image/select.png");/* Путь к фоновому рисунку */
    background-position:  middle; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: auto; /* Масштабируем фон */
    display: block; /*отобразить элемент*/
  }
  
table{
	color: #9B9293;
	
}

footer{
	text-align: center;
	color: #fff;
	height:20px; /* высота подвала */
    margin-top: -10px;
}